:root {
    /* צבעים */
    /* רקע כהה */
    --primary-bg: #073B4C;
    /* טקסט ראשי (לבן) */
    --primary-text: #FFFFFF;
    /* טקסט משני (צהוב בהיר) */
    --secondary-text: #FFD166;
    /* הדגשות (ורוד חזק) */
    --highlight: #EF476F;
    /* רקע כפתורים (טורקיז) */
    --button-bg: #06D6A0;
    /* רקע כפתורים בהתהפכות (כחול כהה) */
    --button-bg-hover: #118AB2;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Arial', sans-serif;
}

h1,
h2,
h3 {
    color: var(--primary-text);
}

p {
    color: var(--secondary-text);
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    color: var(--button-bg);
}

button {
    background-color: var(--button-bg);
    color: var(--primary-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-bg-hover);
}

button:focus {
    outline: none;
}